
@{
<<<<<<< HEAD:Proiect_TP/Proiect_TP/Views/ChessGame/View.cshtml
    ViewBag.Title = "View";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>
=======
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

>>>>>>> 123fbc08fb51ffb797583893ba5d79da9081dc16:Proiect_TP/Proiect_TP/Views/ChessGame/Index.cshtml
