@model Proiect_TP.Models.ChessGame
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a[rel = table] {
        color: #000;
        display: block;
        font-size: 60px;
        height: 80px;    
        

    }

    a[rel = table]:hover {
        background-position: center;
        border: 3px solid green;
        display: block;
    }
    #chess_board {
        border: 5px solid #333;
    }

        #chess_board td {
            background: #fff;
            background: -moz-linear-gradient(top, #fff, #eee);
            height: 80px;
            text-align: center;
            vertical-align: middle;
            width: 80px;
           
        }

        #chess_board tr:nth-child(odd) td:nth-child(even),
        #chess_board tr:nth-child(even) td:nth-child(odd) {
            background: #ccc;
            
        }
</style>
<br />
<br />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<!--
<input id="Button1" type="button" value="button" />-->

<script type="text/javascript">
    $(document).ready(function () {
        var ids;
        $("a").each(function (index) {
            console.log(index + ": " + $(this).attr('id'));
        });
        $("#Button1").click(function () {
            ids = $(this).attr("id");
            alert(this);
            
        });
        $("#Button1").hover(function () {
            $(this).css("background", "red");
        });
        $("#Button1").mouseleave(function () {
            $(this).css("background", "green");
        });
    });
</script>

<table id="chess_board" cellpadding="0" cellspacing="0" style=" margin: 2% 0 0 25%; border: 3px solid green;">


    @for (int i = 1; i <= 8; i++)
    {
        <tr id="tr">
            @for (int j = 1; j <= 8; j++)
            {
                <td id="td">
                    <a id ="@i.ToString()+@j.ToString()" href="#" rel="table" onclick="location.href='@Url.Action("Index", "ChessGame",new { @linia = @i, @coloana = @j })'">
                        @if (@Model.Board.GetCell(i, j) != null)
                        {
                            <img src=" @Model.Board.GetCell(i,j).Piece.ImagePath" />
                        }
                    </a>
                </td>
            }
        </tr>

    }
</table>


