@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<img src=@Url.Content("E:/git proiect 1 sah/Proiect_TP/cal.png") alt="Imagine"/>
